body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}


#logo {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.search-bar {
    width: 25rem;
    height: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    border-style: none;
    border-radius: 0.3rem;
    background-color: #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 12px 16px;
}

#buscar {
    margin-right: 5px;
}

#suerte {
    margin-left: 5px;
}

.fas {
    color: darkgray;
}

#search-bar i {
    position: absolute;
    padding-top: 9px;
    padding-left: 15px;
}

input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

input[type=text] {
    padding-left: 30px;
}

.separator {
    width: max-content;
    height: 1px;
}

#languages {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

#text-lan-link {
    margin-right: 2px;
}

#languages-link {
    margin-left: 2px;
    padding: 0 3px;
}

#languages-link a {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav a {
    color: black;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.top-nav a:hover {
    text-decoration: underline;
}

.top-nav img {
    margin-top: -5px;
}

.apps:hover {
    background-color: rgba(60,64,67,0.08);
}

#main-footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 2rem;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.España {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

@media only screen and (max-width:1200px) {
    .copyright {
        justify-content: space-evenly;
    }
}
 
.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.left-footer {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    margin-left: 15%;
}

a.footer-link {
    color: #70757a;
    text-decoration: none;
}

.footer-link {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

@media only screen and (max-width:1250px) {
    .middle-footer {
        order: 0;
        width: 100%;
        justify-content: center;
    }
}

.middle-footer {
    order: 0;
    justify-content: space-between;
    width: 100%;
    margin-left: 40%;
}

.right-footer {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    margin-right: 15%;
}

.footer-button {
    position: relative;
}

button.config-button {
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #70757a;
    text-decoration: none;
}

.config-button {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.footer-button button {
    border: none;
    background: none;
    font-size: 14px;
    font-family: arial, sans-serif;
}